:root {
  --dark-gray: #241f1f;
  --gray: #363636;
  --white: #ffffff;
  --purple: #740ac4;
  --dark-purple: #150521;
  --light-purple: #a143e8;
  --pink: #d86ceb;
  --black: #000000;
}

.link {
  color: var(--pink);
}

.container {
  background-color: var(--dark-gray);
}

/* Settings for nav bar */
.nav-colors {
  background-color: var(--black);
  border-color: var(--dark-purple);
  border-width: 0.4em;
  border-style: none none inset none;
}
/* Made these changes to navbar & nav-item 
  for changing hover background color and making it extend 
  all the way down the whole bar */
.navbar {
  padding: 0;
}

.nav-item {
  padding: 0.5em 1.3em;
}

.nav-link {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-link:hover {
  color: var(--purple);
}

/* Class for managing the header at the top of the page */
.page-header {
  text-align: center;
  font-weight: bold;
  color: var(--pink);
}

/* Classes for most of the content */

@media (max-width: 1023px) {
  .content-container {
    width: 100%;
    padding: 0.3em;
  }

  .page-header {
    font-size: 1.1em;
  }

  .section {
    padding: 0.9em;
    width: 100%;
    font-size: 0.8em;
  }

  .section-header {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .content-container {
    width: 75%;
    padding: 2em;
  }

  .section-header {
    font-size: 1.3em;
  }

  .section {
    font-size: 1em;
    padding: 1.5em;
  }

  .page-header {
    font-size: 1.4em;
  }
}

.content-container {
  background-color: var(--gray);
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--dark-purple);
  border-radius: 0 0 0.6em 0.6em;
  color: var(--white);
  font-size: 1.2em;
}

.section {
  background-color: var(--dark-gray);
  margin: 0;
  border-radius: 0.6em;
  border-width: thin;
  border-style: inset;
  border-color: var(--purple);
}

.section-header {
  text-align: center;
  font-weight: bold;
  padding: 1.2em;
  color: var(--pink);
}

.work-header {
  color: var(--pink);
  font-size: 1.2em;
  font-weight: bold;
}

.project-header {
  width: 100%;
  color: var(--white);
  background-color: var(--dark-purple);
  border-color: var(--pink);
  border-radius: 0.5em;
  border-style: inset;
  font-size: 1em;
  margin: 0.5em auto 0;
  padding: auto auto 0;
}

.project-header-open {
  border-radius: 0.5em 0.5em 0 0;
}

.project {
  background-color: var(--dark-purple);
  border-radius: 0 0 0.6em 0.6em;
  border-style: inset;
  border-width: 0.1em;
  border-color: var(--pink);
  padding: 1.5em;
  margin: 0;
}

/* Class used to prevent bootstrap-grid from stretching images */
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-images {
  border-radius: 0.5em;
}

/* Used for the form text boxes */
.id-box {
  background-color: var(--gray);
  color: var(--pink);
  font-size: 1.2em;
  border-color: var(--light-purple);
  border-radius: 0.4em;
  width: 100%;
}

.label-box {
  width: 100%;
}

/* Classes for the form buttons */
.form-button {
  width: 48%;
  font-weight: bold;
}

.submit {
  background-color: var(--pink);
  border-color: var(--pink);
  color: var(--dark-gray);
  font-size: 1.1em;
}

.submit:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

.reset {
  color: var(--pink);
  border-color: var(--pink);
  font-size: 1.1em;
}

.reset:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

/* Used for the Github & LinkedIn buttons */
.btn {
  margin: 0.3em;
}

.footer {
  color: var(--white);
  text-align: center;
}
