:root {
  --dark-gray: #241f1f;
  --gray: #363636;
  --white: #ffffff;
  --purple: #740ac4;
  --dark-purple: #150521;
  --light-purple: #a143e8;
  --pink: #d86ceb;
  --light-pink: #e0a2eb;
  --black: #000000;
}

/* Used this site for referencing the breakpoints bootstrap uses:
  https://www.markuptag.com/bootstrap-5-breakpoints-media-query-sizes/
*/

@media (max-width: 575px) {
  .section {
    padding: 0.5em;
    width: 100%;
    font-size: 0.9em;
  }

  .about-images {
    width: auto;
    height: auto;
  }

  .project {
    padding: 0.5em;
  }

  .form-button {
    width: 100%;
    margin: 0.3em 0;
  }
}

@media (max-width: 991px) and (min-width: 576px) {
  .page-header {
    font-size: 1.5em;
    padding: 1em;
  }

  .content-container {
    width: 100%;
    padding: 0.3em;
  }

  .section-header {
    font-size: 1.3em;
  }

  .section {
    padding: 0.9em;
    width: 100%;
    font-size: 1em;
  }

  .image-box {
    justify-content: center;
  }

  .about-images {
    width: 70%;
    height: 70%;
    justify-content: center;
  }

  .project {
    padding: 1em;
  }

  .form-button {
    width: 100%;
    margin: 0.3em 0;
  }
}

@media (min-width: 992px) {
  .page-header {
    font-size: 1.4em;
  }

  .content-container {
    width: 75%;
    padding: 2em;
  }

  .section-header {
    font-size: 1.3em;
  }

  .section {
    font-size: 1em;
    padding: 1.5em;
  }

  .image-box {
    justify-content: left;
  }

  .about-images {
    width: auto;
    height: auto;
  }

  .project {
    padding: 1.5em;
  }

  .form-button {
    width: 49%;
  }
}

.link {
  color: var(--pink);
  font-size: 1.1em;
}

.container {
  background-color: var(--dark-gray);
}

/* Settings for nav bar */
.nav-colors {
  background-color: var(--black);
  border-color: var(--dark-purple);
  border-width: 0.4em;
  border-style: none none inset none;
}
/* Made these changes to navbar & nav-item 
  for changing hover background color and making it extend 
  all the way down the whole bar */
.navbar {
  padding: 0;
}

.nav-item {
  padding: 0.5em 1.3em;
}

.nav-link {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-link:hover {
  color: var(--purple);
}

/* Class for managing the header at the top of the page */
.page-header {
  text-align: center;
  font-weight: bold;
  color: var(--pink);
  background-color: var(--dark-gray);
  margin: 0;
  border-radius: 0.6em;
  border-width: thin;
  border-style: inset;
  border-color: var(--purple);
  padding: 1.5em;
}

/* Classes for most of the content */

.content-container {
  background-color: var(--gray);
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--dark-purple);
  border-radius: 0 0 0.6em 0.6em;
  color: var(--white);
  font-size: 1.2em;
}

.section {
  background-color: var(--dark-gray);
  margin: 0;
  border-radius: 0.6em;
  border-width: thin;
  border-style: inset;
  border-color: var(--purple);
}

.section-header {
  text-align: center;
  font-weight: bold;
  padding: 1.2em;
  color: var(--pink);
}

/* 
Used the following link to scale images without stretching them:
https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio
*/
.about-images {
  border-radius: 0.9em;
  max-height: 100%;
  max-width: 100%;
}

.work-header {
  color: var(--pink);
  font-size: 1.2em;
  font-weight: bold;
}

.project-header {
  width: 100%;
  color: var(--white);
  background-color: var(--dark-purple);
  border-color: var(--pink);
  border-radius: 0.5em;
  border-style: inset;
  font-size: 1em;
  margin: 0.5em auto 0;
  padding: auto auto 0;
}

.project-header-open {
  border-radius: 0.5em 0.5em 0 0;
}

.project {
  background-color: var(--dark-purple);
  border-radius: 0 0 0.6em 0.6em;
  border-style: inset;
  border-width: 0.1em;
  border-color: var(--pink);
  margin: 0;
}

/* Used for the form text boxes */
.id-box {
  background-color: var(--gray);
  color: var(--light-pink);
  font-size: 1.2em;
  border-color: var(--light-purple);
  border-radius: 0.4em;
  width: 100%;
  margin: 0.3em auto;
}

.label-box {
  width: 100%;
}

/* Classes for the form buttons */
.form-button {
  font-weight: bold;
  font-size: 1.1em;
}

.submit {
  background-color: var(--pink);
  border-color: var(--pink);
  color: var(--dark-gray);
}

.submit:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

.reset {
  color: var(--pink);
  border-color: var(--pink);
}

.reset:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

.footer {
  color: var(--white);
  text-align: center;
}
